.latestnews{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.latestnews h1{
    margin: 1rem 0rem;
}
.latestnews_head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.latestnews_sections{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.latestnews_section{
    width: 30%;
}
.latestnews_author h1{
    color:rgba(0, 0, 0, 0.7);
    margin-bottom: 0.3rem;
    font-weight: 600;
    font-size: 15px;
}
.latestnews_title h1{
    color: #111012;
    font-weight: 600;
    font-size: 20px;
}
.latestnews_link{
    justify-self: flex-end;
    cursor: pointer;
}