.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0rem;
}
.features h1{
    margin: 1rem 0rem;
}
.segments{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.segment{
    width: 30%;
}
.segment_heading{
    display: flex;
    align-items: center;
}
.segment_heading h1{
    font-weight: 600;
}
.segment_heading img{
    margin-right: 10px;
}
.subhead_features{
    width: 50%;
}
@media screen and (max-width:1000px){
    .segments{
        width: 100%;
    }
}
@media screen and (max-width:700px){
    .segment{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0rem 1rem;
    }
    .segment_heading{
        justify-content: center;
    }
}