.elements h1 {
    font-weight: 400;
    font-size: 16px;
}
.elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0rem 1rem;
}
.elements img {
    width: 13px;
    height: 8px;
    padding: 7px;
}
.navigation {
    display: flex;
    width: fit-content;
}
header{
    display: flex;
    justify-content: flex-end;
    height: 74px;
}
.hamburger{
    display: none;
    width: 100%;
}
@media screen and (max-width:1000px){
    .navigation{
        display: none;
    }
    .hamburger{
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        align-items: center;
    }
    .hamburger img{
        width: 40px;
        height: 30px;
    }
}

@media screen and (max-width:500px){
    .hamburger img{
        width: 30px;
        height: 20px;
    }
}